# import and data loading

In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from pandas_datareader import data, wb

start = datetime.datetime(2000, 1, 1)
end = datetime.datetime(2017, 1, 1)

cac = data.DataReader("^FCHI", 'yahoo', start, end)
dax = data.DataReader("^GDAXI", 'yahoo', start, end)

cac['delta'] = cac['Close']-cac['Open']
cac.head()

,Open,High,Low,Close,Volume,Adj Close,delta
Date,,,,,,,
2000-01-03,6024.379883,6102.120117,5901.770020,5917.370117,0,5917.370117,-107.009766
2000-01-04,5922.229980,5925.069824,5657.200195,5672.020020,0,5672.020020,-250.209960
2000-01-05,5521.830078,5589.500000,5461.589844,5479.700195,0,5479.700195,-42.129883
2000-01-06,5485.930176,5530.259766,5388.850098,5450.109863,0,5450.109863,-35.820313
2000-01-07,5423.879883,5561.689941,5423.879883,5539.609863,0,5539.609863,115.729980